header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  /*position: fixed;*/
  border-bottom: 1px solid black;
  width: 100%;
}
header h3 {
  color: MediumAquamarine;
}
header nav {
  width: 100%;
  /*border: 1px solid black;*/
  text-align: right;
  padding: 15px 10px 0 0;
}
span{
  display: inline-block;
  padding: 10px;
}
a {
  color: black;
}
.main {
  display: inline-flex;
}
.column.large {
  width: 630px;
  flex-direction: row;
  flex-wrap: wrap;
}

.column.medium {
  width: 300px;
  margin-left: 20px;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.new.bites h3 {
  margin-left: 80px;
  font-size: 16px;
  font-weight: bold;
}
.bites span{
  /*padding-left: 40px;*/
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-size: 12px;
  font-family: Verdana;
  color: Dimgray;
  width: 220px;
}
/*.mother.story {
  border: 1px solid black;
}*/
.orca.story, .burger.story {
  width: 300px;
  display: inline-flex;
}

.burger.story {
  margin-left: 10px;
}
.mew {
  margin-left: 10px;
}
.puget, .mew {
  width: 300px;
  display: inline-flex;
}
.puget p, .mew p {
  font-family: georgia;
  font-size: 17px;
  color: black;
}

.main.image {
  display: flex;
  background: url("../../resources/images/main.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}
.fall.image {
  display: flex;
  background: url("../../resources/images/fall.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fall.image p, .camera.image p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.camera.image {
  display: flex;
  background: url("../../resources/images/cameraman.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}
.fall.image, .camera.image {
  display: inline-flex;
}
.cat.image {
  display: flex;
  background: url("../../resources/images/cat.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  /*flex-direction: column;*/
}
.cat.image h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 2px 0 0 5px;
}
.mother.story p, .earth.story p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.main.image h3 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: MediumAquamarine;
  height: 325px;
  margin-top: 80px;
}
footer h3 {
  color: white;
}
footer nav {
  margin-left: 30px;
}
.bar {
  margin-left: 30px;
  color: white;
}
