header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  /*position: fixed;*/
  border-bottom: 1px solid black;
  width: 100%;
}
header h3 {
  color: MediumAquamarine;
}
nav {
  width: 100%;
  /*border: 1px solid black;*/
  text-align: right;
  padding: 15px 10px 0 0;
}
span{
  display: inline-block;
  padding: 10px;
}
a {
  color: black;
}
.main {
  display: inline-flex;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
  margin-left: 20px;
}

.column.small {
  width: 240px;
}
.column.small img {
  padding-left: 40px;
}
.column.small h3, .column.small p {
  padding-left: 40px;
}

.mother.story {
  border: 1px solid black;
}
